body{
    background-color: #cccccc;
}

h1,h5, h6 {
    color: #90836f;
    text-align: center;
    font-size: 25px;
}


.content, .border{
    display: grid;
    padding: 10px;
    justify-content: center;

}

h3{
    color: #90836f;
}